wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/
wp-content/languages/plugins/
wp-content/languages/themes/
.htaccess
sitemap.xml
sitemap.xml.gz
wp-content/debug.log
wp-content/elm-error-logs/
*.log
.DS_Store
.idea/
.vscode/
node_modules/
vendor/
wp-cli.phar
OneSignalSDK.sw.js
auto-login.php
backup-temporary-files/
generate_final_report.php
test_js.js
verify_media.json
verify_media_pretty.json
verify_wc.json
wc_status.txt
wp-content/pillpalnow-emergency.log
wp-content/plugins/stripe-saas-disabled/
wp-content/plugins/stripe-saas-old-disabled/
wp-contentold.zip
